body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #F2F2F0;
}

#container {
    width: 1200px;
    margin: 0px auto;
    padding: 0px;
}

#menu {
    font-family: 'Anton', sans-serif;
    width: 800px;
    margin: 0px auto;
}

#banner {
    clear: both;
    margin: 0px auto;
    width: 1200px;
    margin-bottom: 20px;
}

.promos {
    margin-left: 300px;
    margin-bottom: 50px;
}

#img_coracao {
    margin-left: 550px;
}

ul {
    margin: 0px; padding: 0px;
    list-style-type: none;
    background-color: #f2f2f0;
    float: left;
}
ul li {
    float: left;
}
ul a {
    display: block;
    width: 120px;
    padding: 2.5em;
    line-height: 2.5em;
    text-align: center;
    color: #A66d03;
    text-decoration: none;
}

#texto1 {
    font-family: 'Times New Roman', Times, serif;
    color: #8C8C8C;
    font-weight: bold;
    font-size: 3em;
    margin-left: 300px;
}

#texto2 {
    font-family: 'Times New Roman', Times, serif;
    color: #8C8C8C;
    font-weight: bold;
    font-size: 2.8em;
    margin-left: 400px;
}

#texto_recado p {
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid #A6691F;
    width: 250px;
    height: 225px;
    font-size: 1.8em;
    font-weight: 545;
    color: #A6691F;
    float: left;
    margin-left: 400px;
    text-align: right;
}

#fotorecado {
    margin-left: 30px;
    float: left;
}

#espaco {
    clear: both;
    height: 80px;
}

#tabela {
    margin-left: 280px;
    height: 400px;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
}

#tabela p {
    height: 63px;
    border-bottom: 2px solid crimson;
}

#tabela li {
    font-family: 'Roboto', sans-serif;
    font-size: small;
    width: 350px;
    border-bottom: 2px solid crimson;
    float: left;
    list-style-type: none;
    position: relative;
    margin-bottom: 0.5em;
    height: 70px;
}

#tabela li:before {
    content: '•';
    display: inline-block;
    position: absolute;
    left: -1em;
    color: green;
    font-size: 2em;
    margin-top: -8px;
}

#espaco2 {
    clear: both;
    height: 130px;
}

#rodape {
    clear: both;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
    background-color: #8C2730;
    font-size: 1.3em;
    height: 50px;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: 10px;
}